[user]
	name = yutotnh
	email = 57719497+yutotnh@users.noreply.github.com

[init]
	defaultBranch = main

[push]
	# デフォルトでpushするときに、現在のブランチを追跡する
	autoSetupRemote = true

[pull]
	# pullするときに、fast-forwardでないマージをするときはエラーにする
	ff = only

[grep]
	lineNumber = true

[core]
	# 日本語のファイル名やディレクトリ名の文字化けを防ぐ
	quotepath = false
	# ファイル名の大文字小文字を区別する
	ignorecase = false
	# 改行コードを自動で変換しない
	autocrlf = false

[alias]
	# よく使うコマンドのエイリアス
	# statusやcommitは二文字目まで入力しても他の候補があるので補完が効きにくい
	# そのため、短いエイリアスを設定して補完しやすくする
	s = status --short # shortの情報で十分な場合が多いため、--shortをデフォルトにする
	c = commit

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[include]
	# リポジトリごとに設定を変えたい場合がある
	# そのためリポジトリごとに設定ファイルを作成し、includeで読み込む
	path = .gitconfig.local
